{% include "base.html.twig" %}

   {% include "shared/header.html.twig" %}

    {% block body %}

      {% include "shared/selectcatall.html.twig" %}


      <div class="flexcatall">
      {% for publication in publications %}
        <a href="{{ path('onepublication', { id: publication.id}) }}">
            <div class="cardpublication">
                <img class="imagepublication" src='{{publication.image}}' alt="{{publication.image}}">

                <div class="publicationinfo">
                    <div>
                        <img class="imageprofilpublication" src='{{publication.image}}' alt="{{publication.image}}">
                    </div>

                    <div>

                        <p class="publicationinfotitle">{{publication.title}}</p>
                        <p class="publicationinfodescritpion">{{publication.description}}</p>
                    </div>
                </div>


            </div>
        </a>

    
      {% endfor %}
</div>

<div class="spacebottom"/>
{% endblock %}


    {% include "shared/footer.html.twig" %}


