{% include "base.html.twig" %}

   {% include "shared/header.html.twig" %}

    {% block body %}

      {% include "shared/selectcatall.html.twig" %}


      <div class="flexcatall">
      {% for one_publication in one_publication %}
        <div class="cardpublication">
            <img class="imagepublication" src='/{{one_publication.image}}' alt="{{one_publication.image}}">

                <div class="publicationinfo">
                    <div>
                        <img class="imageprofilpublication" src='/{{one_publication.image}}' alt="{{one_publication.image}}">
                    </div>

                    <div>

                        <p class="publicationinfotitle">{{one_publication.title}}</p>
                        <p class="publicationinfodescritpion">{{one_publication.description}}</p>
                    </div>
                </div>


            </div>

    
      {% endfor %}
</div>

<div class="spacebottom"/>
{% endblock %}


    {% include "shared/footer.html.twig" %}


