{% include "base.html.twig" %}

   {% include "shared/header.html.twig" %}

    {% block body %}
      <div class="formpublication">
      {# {{ form_start(formPublication) }}
      {{ form_widget(formPublication.image) }}
      {{ form_widget(formPublication.title) }}
      {{ form_widget(formPublication.description) }}
      {{ form_widget(formPublication.categorie) }}

      {{ form_rest(formPublication) }}
            <button>Save</button>
    {{ form_end(formPublication) }} #}
     <form action="{{ path('publication') }}" method="post">
        <input type="file">
        <input type="text" placeholder="Titre">
</div>
{% endblock %}

    {% include "shared/footer.html.twig" %}


