{% include "base.html.twig" %}

    <body>
      {% for pubread in pubreads %}
        <div class="cardcat">
              <p>{{pubread.id}}</p>
              <p>{{pubread.categorie}}</p>
              <p>{{pubread.date}}</p>
              <p>{{pubread.description}}</p>
              <p>{{pubread.image}}</p>
              <p>{{pubread.title}}</p>
        </div>
      {% endfor %}



    </body>