<header>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="btntopheader">
  <a href="">
    {# <img src=" {{ asset('images/flèche-pointant-vers-la-gauche-96.png') }}"> #}
  </a>
  <a href="{{ path('settings') }}">
    <img src=" {{ asset('images/icons8-setting-96W.png') }}">
  </a>
</div>
{% else %}
<div class="btntopheaderlogin">

<a href="{{ path('login')}}"><button>Connexion</button></a>

</div>
{% endif %}

     <div class="headerlogo">
        <img src=" {{ asset('images/instantW.png') }}" alt="logo">
    </div>

</header>
