{% include "base.html.twig" %}

   {% include "shared/header.html.twig" %}

    {% block body %}

      {% include "shared/selectcatall.html.twig" %}


      <div class="flexcatall">
      {% for onecat in onecat %}
        <div class="cardpublication">
            <img class="imagepublication" src='/{{onecat.image}}' alt="{{onecat.image}}">

            <div class="publicationinfo">
                <div>
                    <img class="imageprofilpublication" src='/{{onecat.image}}' alt="{{onecat.image}}">
                </div>

                <div>

                    <p class="publicationinfotitle">{{onecat.title}}</p>
                    <p class="publicationinfodescritpion">{{onecat.description}}</p>
                </div>
            </div>


        </div>
    
      {% endfor %}
</div>

<div class="spacebottom"/>
{% endblock %}
